pkgbase = omarchy-plugin-games-git
	pkgdesc = Game launcher, library manager, Active Playspace, and Controller Steward for Omarchy
	pkgver = 1.1.0.r0
	pkgrel = 1
	url = https://github.com/Azteriisk/omarchy-games
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-evdev
	depends = quickshell
	optdepends = chromium: hardware-accelerated Xbox Cloud streaming
	optdepends = libva-utils: hardware video decode verification via vainfo
	provides = omarchy-plugin-games
	conflicts = omarchy-plugin-games
	source = git+https://github.com/Azteriisk/omarchy-games.git#commit=41a4d7d2832b5f76a9b317370670da1dd5023b4c
	md5sums = SKIP

pkgname = omarchy-plugin-games-git
